<%-include("header")-%>


  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>

  <div class="box">
    <% for (let i=0; i<newListItems.length; i++){ %>
      <div class="item">
        <input type="checkbox"/>
        <p><%=newListItems[i] %></p>
      </div>
      <% } %>

    <form method="post" class="item" action="/">
      <input type="text" id="input" name="newItem" placeholder="Add Item" autocomplete="off" />
      <!-- value property in button will return in req.body -->
      <button type="submit" name="list" value="<%= listTitle %>" >+</button>
    </form>

  </div>
 
  <%-include("footer")-%>


<!-- ejs tag
<% %>     = javascript
<%= %>    = variable 
<%- -%>   = layout 
-->